<p id="notice"><%= notice %></p>

<h1>Listing Tenants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Subdomain</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tenants.each do |tenant| %>
      <tr>
        <td><%= tenant.name %></td>
        <td><%= tenant.subdomain %></td>
        <td><%= link_to 'Show', root_url(:subdomain => tenant.subdomain) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>